:root {
  --c-003: #00384d;
  --c-005: #005e8d;
  --c-007: #007eb4;
  --c-010: #07567a;
  --c-016: #16794c;
  --c-017: #1748bd;
  --c-018: #215768;
  --c-020: #2457d6;
  --c-023: #315b69;
  --c-024: #344054;
  --c-027: #3c4b5e;
  --c-029: #48566a;
  --c-030: #4b6175;
  --c-032: #667085;
  --c-033: #694080;
  --c-034: #6b7280;
  --c-038: #8ac7e1;
  --c-039: #92cce7;
  --c-041: #9bcce3;
  --c-043: #b42318;
  --c-045: #b8c9d8;
  --c-046: #b8dce9;
  --c-047: #b9c9d8;
  --c-048: #bfdcec;
  --c-050: #c7dce8;
  --c-053: #cbdbe7;
  --c-056: #cddce7;
  --c-057: #cfe1eb;
  --c-059: #d6b8eb;
  --c-061: #d8e2eb;
  --c-064: #d9f4ff;
  --c-067: #e0e9f0;
  --c-068: #e28a83;
  --c-069: #e5e9ef;
  --c-073: #e9f7fb;
  --c-074: #eaf0ff;
  --c-075: #eaf7fd;
  --c-076: #eaf8ef;
  --c-078: #edf2f7;
  --c-079: #edf3ff;
  --c-080: #edfaff;
  --c-081: #eef1f5;
  --c-086: #eff9fd;
  --c-089: #f0f9fd;
  --c-091: #f1f3f5;
  --c-095: #f3fbfe;
  --c-098: #f5fbfe;
  --c-101: #f7f9fc;
  --c-102: #f7fbfd;
  --c-103: #f7fbfe;
  --c-106: #faf5ff;
  --c-107: #fbfcfe;
  --c-108: #fbfdff;
  --c-110: #fff;
  --c-114: #fff4f2;
  --c-116: #ffffff;
  --c-117: rgba(0, 126, 180, 0.38);
  --c-119: rgba(0, 126, 180, 0.55);
  --c-133: rgba(16, 24, 40, 0.08);
  --c-134: rgba(16, 24, 40, 0.09);
  --c-139: rgba(17, 24, 39, 0.16);
  --c-144: rgba(20, 64, 86, 0.14);
}
