:root {
  --c-002: #000000;
  --c-003: #00384d;
  --c-004: #004d69;
  --c-006: #006a99;
  --c-011: #0f663b;
  --c-015: #14532d;
  --c-019: #244f94;
  --c-022: #315b43;
  --c-036: #7f1d1d;
  --c-042: #9d2118;
  --c-049: #bfe7cf;
  --c-051: #c7eed8;
  --c-052: #c9dcfb;
  --c-054: #cbdcf8;
  --c-072: #e9f7ef;
  --c-077: #ecfdf3;
  --c-084: #eef4ff;
  --c-085: #eef5ff;
  --c-090: #f0fdf4;
  --c-096: #f5c0ba;
  --c-097: #f5c2bd;
  --c-104: #f7fcff;
  --c-108: #fbfdff;
  --c-109: #fdebe8;
  --c-111: #fff0ee;
  --c-115: #fff7ed;
  --c-116: #ffffff;
  --c-123: rgba(0, 174, 239, 0.28);
  --c-124: rgba(0, 174, 239, 0.32);
  --c-125: rgba(0, 174, 239, 0.35);
  --c-129: rgba(0, 174, 239, 0.55);
  --c-130: rgba(0, 174, 239, 0.65);
  --c-142: rgba(180, 35, 24, 0.38);
  --c-143: rgba(185, 28, 28, 0.25);
  --c-145: rgba(22, 163, 74, 0.25);
}
